
<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="th">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="https://www.anime-sugoi.com/upload/icon.png?v=6">
<title>KiMoJi-ii Anime</title>
<meta name="keywords" content="การ์ตูน,อนิเมะ,Anime,ดูการ์ตูน,ดูอนิเมะ,ดูAnime,ดูการ์ตูนออนไลน์,อนิเมะพากย์ไทย,อนิเมะซับไทย">
<meta name="description" content="Anime-Sugoi อนิเมะ ดูการ์ตูนออนไลน์ ดูอนิเมะออนไลน์ ซับไทย พากย์ไทย อนิเมะอัพเดทล่าสุด อนิเมะพากย์ไทย อนิเมะซับไทย ดูการ์ตูน ดูAnime">
<meta name="author" content="www.anime-sugoi.com">
<meta property="fb:app_id" content="319573268524282" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="https://www.anime-sugoi.com/rss.php" />
<link href="https://www.anime-sugoi.com/css/carousel.css?v=6" rel="stylesheet">
<link href="https://www.anime-sugoi.com/css/theme/3 red slate.css?v=6" rel="stylesheet">
<link href="https://www.anime-sugoi.com/css/lnwphp.in.th.css?v=6" rel="stylesheet">
<link href="https://www.anime-sugoi.com/css/Genericons/genericons.css?v=6" rel="stylesheet">
<link href="https://www.anime-sugoi.com/js/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
<script src="https://www.anime-sugoi.com/js/ie-emulation-modes-warning.js" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script src="https://www.anime-sugoi.com/js/ie10-viewport-bug-workaround.js" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script src="https://www.anime-sugoi.com/js/modernizr.js" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script src="https://www.anime-sugoi.com/js/autocomplete.js" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script src="https://www.anime-sugoi.com/js/lazyload.min.js" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="2d111c72b9eb7f769b59c701-text/javascript"></script> <script type="2d111c72b9eb7f769b59c701-text/javascript">
		$(document).ready(function(){
			$('.slider4').bxSlider({
				auto: true,
				slideWidth: 250,
				minSlides: 1,
				maxSlides: 5,
				moveSlides: 1,
				slideMargin: 10
			});
		});
	</script>
<style type="text/css">
		.img_lnwphp{
			width: 100%;
			height: 255px;
		}

		@media only screen
		and (max-width : 767px) {

			.img_lnwphp{
				width: 100%;
				height: auto;
			}
			.title_movie{
				width: 100%;
				height: 54px;
			}

		}
	</style>
</head>
<body style="background: #f5f5f5 url(https://www.anime-sugoi.com/upload/335357af810d85d0409c3f977744e18fo.jpg?v=6);background-repeat: repeat;background-attachment: fixed;background-position: center;">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">หน้าแรก</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="http://gameofsun.pythonanywhere.com/index">หน้าแรก</a>
</div>
<a class="navbar-brand" href="http://gameofsun.pythonanywhere.com/">Logout</a>
<div class="navbar-collapse collapse">

<ul class="nav navbar-nav">
<li><a href="/one">ติดต่อเรา</a></li>
</ul>

<ul class="nav navbar-nav">
<li><a href="/Comment">Comment
</a></li>
</ul>

<form class="navbar-form navbar-right" action="https://www.anime-sugoi.com/index.php" role="search">
<div class="form-group">
<input name="search" type="text" id="show_arti_topic" class="form-control" placeholder="ค้นหาการ์ตูน" value="">
</div>
<button type="submit" class="btn btn-sm btn-success">ค้นหาการ์ตูน</button>
{{user.username}}
</form>
</div>
</div>
</div> <div class="container">
<div class="row">
</div>

</div> <div class="container">
<div class="row">
</div>
</div><div class="container">
<div class="row">
<p class="center_lnwphp"></p>
<div class="col-lg-9">
<div class="panel panel-danger">
<div class="panel-heading">
<h3 class="panel-title">GameOfSun</h3>
</div>
<div class="panel-body">
<div class="row">
<div class="col-xs-6 col-sm-4 col-md-3 center_lnwphp">
<a style="color: #ffffff;" title="Love Hina บ้านพักอลเวง ตอนที่ 1-24 พากย์ไทย จบแล้ว" href="https://www.anime-sugoi.com/323/">
<img title="Love Hina บ้านพักอลเวง ตอนที่ 1-24 พากย์ไทย จบแล้ว" class="img-thumbnail img_lnwphp" src="https://www.anime-sugoi.com/upload/cde5f72df423febdaeff22848b526138.jpg?v=6" alt=">Love Hina บ้านพักอลเวง ตอนที่ 1-24 พากย์ไทย จบแล้ว"></a>
<h3 class="title_movie"><a style="color: #ffffff;" title="Love Hina บ้านพักอลเวง ตอนที่ 1-24 พากย์ไทย จบแล้ว" href="https://www.anime-sugoi.com/323/" rel="bookmark">Love Hina บ้านพักอลเวง ตอนที่ 1-24 พากย์ไทย</a></h3>
<span class="label label-danger label-ago">จบแล้ว</span>
<p></p>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 center_lnwphp">
<a style="color: #ffffff;" title="Hello World เธอ.ฉัน.โลก.เรา  พากย์ไทย Movie" href="https://www.anime-sugoi.com/2178/">
<img title="Hello World เธอ.ฉัน.โลก.เรา  พากย์ไทย Movie" class="img-thumbnail img_lnwphp" src="https://www.anime-sugoi.com/upload/f5c312fc394ef933a3ae56ae0312b43d.jpg?v=6" alt=">Hello World เธอ.ฉัน.โลก.เรา  พากย์ไทย Movie"></a>
<h3 class="title_movie"><a style="color: #ffffff;" title="Hello World เธอ.ฉัน.โลก.เรา  พากย์ไทย Movie" href="https://www.anime-sugoi.com/2178/" rel="bookmark">Hello World เธอ.ฉัน.โลก.เรา พากย์ไทย</a></h3>
<span class="label label-danger label-ago">Movie</span>
<p></p>
</div>
<div class="clearfix visible-xs"></div>
<div class="col-xs-6 col-sm-4 col-md-3 center_lnwphp">
<a style="color: #ffffff;" title="Busou Renkin นักรบเหล็กเทวะ ตอนที่ 1-26 พากย์ไทย จบแล้ว" href="https://www.anime-sugoi.com/1489/">
<img title="Busou Renkin นักรบเหล็กเทวะ ตอนที่ 1-26 พากย์ไทย จบแล้ว" class="img-thumbnail img_lnwphp" src="https://www.anime-sugoi.com/upload/cea5c108accfc155c30d6d79681fa26d.jpg?v=6" alt=">Busou Renkin นักรบเหล็กเทวะ ตอนที่ 1-26 พากย์ไทย จบแล้ว"></a>
<h3 class="title_movie"><a style="color: #ffffff;" title="Busou Renkin นักรบเหล็กเทวะ ตอนที่ 1-26 พากย์ไทย จบแล้ว" href="https://www.anime-sugoi.com/1489/" rel="bookmark">Busou Renkin นักรบเหล็กเทวะ ตอนที่ 1-26 พากย์ไทย</a></h3>
<span class="label label-danger label-ago">จบแล้ว</span>
<p></p>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 center_lnwphp">
<a style="color: #ffffff;" title="Fate kaleid liner Prisma Illya (ภาค1) สาวน้อยเวทมนตร์อิลิยะ ตอนที่ 1-10+OVA+SP พากย์ไทย จบแล้ว" href="https://www.anime-sugoi.com/214/">
<img title="Fate kaleid liner Prisma Illya (ภาค1) สาวน้อยเวทมนตร์อิลิยะ ตอนที่ 1-10+OVA+SP พากย์ไทย จบแล้ว" class="img-thumbnail img_lnwphp" src="https://www.anime-sugoi.com/upload/a9e8dba427e6f0a1483e7edaad7bc1de.jpg?v=6" alt=">Fate kaleid liner Prisma Illya (ภาค1) สาวน้อยเวทมนตร์อิลิยะ ตอนที่ 1-10+OVA+SP พากย์ไทย จบแล้ว"></a>
<h3 class="title_movie"><a style="color: #ffffff;" title="Fate kaleid liner Prisma Illya (ภาค1) สาวน้อยเวทมนตร์อิลิยะ ตอนที่ 1-10+OVA+SP พากย์ไทย จบแล้ว" href="https://www.anime-sugoi.com/214/" rel="bookmark">Fate kaleid liner Prisma Illya (ภาค1) สาวน้อยเวทมนตร์อิลิยะ ตอนที่ 1-10+OVA+SP พากย์ไทย</a></h3>
<span class="label label-danger label-ago">จบแล้ว</span>
<p></p>
</div>
<div class="clearfix visible-xs"></div>
<div class="col-xs-6 col-sm-4 col-md-3 center_lnwphp">
<a style="color: #ffffff;" title="Yahari Ore no Seishun Love Come wa Machigatteiru. (ภาค1) ตอนที่ 1-13 พากย์ไทย จบแล้ว" href="https://www.anime-sugoi.com/84/">
<img title="Yahari Ore no Seishun Love Come wa Machigatteiru. (ภาค1) ตอนที่ 1-13 พากย์ไทย จบแล้ว" class="img-thumbnail img_lnwphp" src="https://www.anime-sugoi.com/upload/ed4b6dd8be91fb7a6a6c3815da8d3505.jpg?v=6" alt=">Yahari Ore no Seishun Love Come wa Machigatteiru. (ภาค1) ตอนที่ 1-13 พากย์ไทย จบแล้ว"></a>
<h3 class="title_movie"><a style="color: #ffffff;" title="Yahari Ore no Seishun Love Come wa Machigatteiru. (ภาค1) ตอนที่ 1-13 พากย์ไทย จบแล้ว" href="https://www.anime-sugoi.com/84/" rel="bookmark">Yahari Ore no Seishun Love Come wa Machigatteiru. (ภาค1) ตอนที่ 1-13 พากย์ไทย</a></h3>
<span class="label label-danger label-ago">จบแล้ว</span>
<p></p>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 center_lnwphp">
<a style="color: #ffffff;" title="In This Corner of the World (2016) แค่วาดฝันให้โลกสวย  พากย์ไทย Movie" href="https://www.anime-sugoi.com/2203/">
<img title="In This Corner of the World (2016) แค่วาดฝันให้โลกสวย  พากย์ไทย Movie" class="img-thumbnail img_lnwphp" src="https://www.anime-sugoi.com/upload/4b255dc3b75e8cdb94290b3b2667aee6.jpg?v=6" alt=">In This Corner of the World (2016) แค่วาดฝันให้โลกสวย  พากย์ไทย Movie"></a>
<h3 class="title_movie"><a style="color: #ffffff;" title="In This Corner of the World (2016) แค่วาดฝันให้โลกสวย  พากย์ไทย Movie" href="https://www.anime-sugoi.com/2203/" rel="bookmark">In This Corner of the World (2016) แค่วาดฝันให้โลกสวย พากย์ไทย</a></h3>
<span class="label label-danger label-ago">Movie</span>
<p></p>
</div>
<div class="clearfix visible-xs"></div>
<div class="col-xs-6 col-sm-4 col-md-3 center_lnwphp">
<a style="color: #ffffff;" title="Ride Your Wave คำสัญญา…ปาฏิหาริย์รัก 2 โลก  พากย์ไทย Movie" href="https://www.anime-sugoi.com/2200/">
<img title="Ride Your Wave คำสัญญา…ปาฏิหาริย์รัก 2 โลก  พากย์ไทย Movie" class="img-thumbnail img_lnwphp" src="https://www.anime-sugoi.com/upload/0d68265b1d584d8dade454453d6a59db.jpg?v=6" alt=">Ride Your Wave คำสัญญา…ปาฏิหาริย์รัก 2 โลก  พากย์ไทย Movie"></a>
<h3 class="title_movie"><a style="color: #ffffff;" title="Ride Your Wave คำสัญญา…ปาฏิหาริย์รัก 2 โลก  พากย์ไทย Movie" href="https://www.anime-sugoi.com/2200/" rel="bookmark">Ride Your Wave คำสัญญา…ปาฏิหาริย์รัก 2 โลก พากย์ไทย</a></h3>
<span class="label label-danger label-ago">Movie</span>
<p></p>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 center_lnwphp">
<a style="color: #ffffff;" title="Children of the Sea รุกะผจญภัยโลกใต้ทะเล  พากย์ไทย Movie" href="https://www.anime-sugoi.com/2201/">
<img title="Children of the Sea รุกะผจญภัยโลกใต้ทะเล  พากย์ไทย Movie" class="img-thumbnail img_lnwphp" src="https://www.anime-sugoi.com/upload/096a38e1132f1176706ac2fb84be6ae9.jpg?v=6" alt=">Children of the Sea รุกะผจญภัยโลกใต้ทะเล  พากย์ไทย Movie"></a>
<h3 class="title_movie"><a style="color: #ffffff;" title="Children of the Sea รุกะผจญภัยโลกใต้ทะเล  พากย์ไทย Movie" href="https://www.anime-sugoi.com/2201/" rel="bookmark">Children of the Sea รุกะผจญภัยโลกใต้ทะเล พากย์ไทย</a></h3>
<span class="label label-danger label-ago">Movie</span>
<p></p>
</div>
<div class="clearfix visible-xs"></div>
<div class="col-xs-6 col-sm-4 col-md-3 center_lnwphp">
<a style="color: #ffffff;" title="Weathering With You ฤดูฝัน ฉันมีเธอ  พากย์ไทย Movie" href="https://www.anime-sugoi.com/2187/">
<img title="Weathering With You ฤดูฝัน ฉันมีเธอ  พากย์ไทย Movie" class="img-thumbnail img_lnwphp" src="https://www.anime-sugoi.com/upload/f7a3c9fa9d61de44672fde0bcfd9e113.jpg?v=6" alt=">Weathering With You ฤดูฝัน ฉันมีเธอ  พากย์ไทย Movie"></a>
<h3 class="title_movie"><a style="color: #ffffff;" title="Weathering With You ฤดูฝัน ฉันมีเธอ  พากย์ไทย Movie" href="https://www.anime-sugoi.com/2187/" rel="bookmark">Weathering With You ฤดูฝัน ฉันมีเธอ พากย์ไทย</a></h3>
<span class="label label-danger label-ago">Movie</span>
<p></p>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 center_lnwphp">
<a style="color: #ffffff;" title="Boruto Naruto The Movie (2015) โบรูโตะ นารูโตะ เดอะมูฟวี่  พากย์ไทย Movie" href="https://www.anime-sugoi.com/600/">
<img title="Boruto Naruto The Movie (2015) โบรูโตะ นารูโตะ เดอะมูฟวี่  พากย์ไทย Movie" class="img-thumbnail img_lnwphp" src="https://www.anime-sugoi.com/upload/b422d1e04e19d5d1790edc2c2feb5ed7.jpg?v=6" alt=">Boruto Naruto The Movie (2015) โบรูโตะ นารูโตะ เดอะมูฟวี่  พากย์ไทย Movie"></a>
<h3 class="title_movie"><a style="color: #ffffff;" title="Boruto Naruto The Movie (2015) โบรูโตะ นารูโตะ เดอะมูฟวี่  พากย์ไทย Movie" href="https://www.anime-sugoi.com/600/" rel="bookmark">Boruto Naruto The Movie (2015) โบรูโตะ นารูโตะ เดอะมูฟวี่ พากย์ไทย</a></h3>
<span class="label label-danger label-ago">Movie</span>
<p></p>
</div>
<div class="clearfix visible-xs"></div>
<div class="col-xs-6 col-sm-4 col-md-3 center_lnwphp">
<a style="color: #ffffff;" title="Boku no Hero Academia: Ikinokore! Kesshi no Survival Kunren OVA ตอนที่ 1-2 ซับไทย จบแล้ว" href="https://www.anime-sugoi.com/2242/">
<img title="Boku no Hero Academia: Ikinokore! Kesshi no Survival Kunren OVA ตอนที่ 1-2 ซับไทย จบแล้ว" class="img-thumbnail img_lnwphp" src="https://www.anime-sugoi.com/upload/fd33e53bd130ce96093bee6ca05745c5.jpg?v=6" alt=">Boku no Hero Academia: Ikinokore! Kesshi no Survival Kunren OVA ตอนที่ 1-2 ซับไทย จบแล้ว"></a>
<h3 class="title_movie"><a style="color: #ffffff;" title="Boku no Hero Academia: Ikinokore! Kesshi no Survival Kunren OVA ตอนที่ 1-2 ซับไทย จบแล้ว" href="https://www.anime-sugoi.com/2242/" rel="bookmark">Boku no Hero Academia: Ikinokore! Kesshi no Survival Kunren OVA ตอนที่ 1-2 ซับไทย</a></h3>
<span class="label label-danger label-ago">จบแล้ว</span>
<p></p>
</div>
<div class="clearfix visible-xs"></div>
<div class="col-xs-6 col-sm-4 col-md-3 center_lnwphp">
<a style="color: #ffffff;" title="BlazBlue Alter Memory ตอนที่ 1-12 ซับไทย จบแล้ว" href="https://www.anime-sugoi.com/1037/">
<img title="BlazBlue Alter Memory ตอนที่ 1-12 ซับไทย จบแล้ว" class="img-thumbnail img_lnwphp" src="https://www.anime-sugoi.com/upload/d6cd3e0fbfe703f9d1bd76c6a2bbc550.jpg?v=6" alt=">BlazBlue Alter Memory ตอนที่ 1-12 ซับไทย จบแล้ว"></a>
<h3 class="title_movie"><a style="color: #ffffff;" title="BlazBlue Alter Memory ตอนที่ 1-12 ซับไทย จบแล้ว" href="https://www.anime-sugoi.com/1037/" rel="bookmark">BlazBlue Alter Memory ตอนที่ 1-12 ซับไทย</a></h3>
<span class="label label-danger label-ago">จบแล้ว</span>
<p></p>
</div>
<div class="clearfix visible-xs"></div> </div>
</div>
</div>

<ul class="pagination"></ul>
</div>
<div class="col-lg-3">

<div class="panel panel-danger">
<div class="panel-heading">
<h3 class="panel-title">ฝากกด Like หน่อยนะครับ ^^</h3>
</div>
<div class="panel-body">
<p class="center_lnwphp">
<iframe src="//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/GameOfSunGaming&amp;width=230&amp;height=290&amp;colorscheme=&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=319573268524282" style="border:none; overflow:hidden; width:100%; height:290px;"></iframe>
</p>




</div>
</div>

<div class="panel panel-danger">
<div class="panel-heading">
<h3 class="panel-title">โฆษณา</h3>
</div>
<div class="panel-body">
<p class="center_lnwphp">
    <iframe src="//www.facebook.com/plugins/likebox.php?href=https://https://www.facebook.com/CampKungzZ&amp;width=230&amp;height=290&amp;colorscheme=&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=319573268524282" style="border:none; overflow:hidden; width:100%; height:290px;"></iframe>
</p>

</div>
</div>
</div>
</div>
</div>

<style>
.img-bt-ads {
    padding: 3px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    width: 350px;
    height: 70px;
}
</style>

<script src="https://www.anime-sugoi.com/js/main.js" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script src="https://www.anime-sugoi.com/js/bootstrap.min.js?v=6" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script src="https://www.anime-sugoi.com/js/bootstrap-datepicker1.js?v=6" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script src="https://www.anime-sugoi.com/js/jquery.bxslider/jquery.bxslider.min.js" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v3.3&appId=319573268524282&autoLogAppEvents=1" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143173261-1" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script type="2d111c72b9eb7f769b59c701-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143173261-1');
</script>

<script type="2d111c72b9eb7f769b59c701-text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,3070988,4,0,0,0,00010000']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?3070988&101" alt="" border="0"></a></noscript>

<footer class="jumbotron footer">
<div class="container">
<div class="row">
<div class="col-md-9">
<span>&copy;                       2020 KiMoji-ii ดูการ์ตูน Anime ดูการ์ตูนออนไลน์ อนิเมะพากย์ไทยเมะ </span>
<a title="ขึ้นบนสุด" href="#0" class="cd-top">Top</a>
</div>
<div class="col-md-3">
</div>
</div>
</div>
</footer>

<script type="2d111c72b9eb7f769b59c701-text/javascript">
	function re_up_ () {
		location.reload();
	}
	var myLazyLoad = new LazyLoad({
    elements_selector: ".lazy"
});
	</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="2d111c72b9eb7f769b59c701-|49" defer=""></script></body>
</html>