    <!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="th">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="https://www.anime-sugoi.com/upload/icon.png?v=6">
<title>KiMoJi-ii Anime</title>
<meta name="keywords" content="การ์ตูน,อนิเมะ,Anime,ดูการ์ตูน,ดูอนิเมะ,ดูAnime,ดูการ์ตูนออนไลน์,อนิเมะพากย์ไทย,อนิเมะซับไทย">
<meta name="description" content="Anime-Sugoi อนิเมะ ดูการ์ตูนออนไลน์ ดูอนิเมะออนไลน์ ซับไทย พากย์ไทย อนิเมะอัพเดทล่าสุด อนิเมะพากย์ไทย อนิเมะซับไทย ดูการ์ตูน ดูAnime">
<meta name="author" content="www.anime-sugoi.com">
<meta property="fb:app_id" content="319573268524282" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="https://www.anime-sugoi.com/rss.php" />
<link href="https://www.anime-sugoi.com/css/carousel.css?v=6" rel="stylesheet">
<link href="https://www.anime-sugoi.com/css/theme/3 red slate.css?v=6" rel="stylesheet">
<link href="https://www.anime-sugoi.com/css/lnwphp.in.th.css?v=6" rel="stylesheet">
<link href="https://www.anime-sugoi.com/css/Genericons/genericons.css?v=6" rel="stylesheet">
<link href="https://www.anime-sugoi.com/js/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
<script src="https://www.anime-sugoi.com/js/ie-emulation-modes-warning.js" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script src="https://www.anime-sugoi.com/js/ie10-viewport-bug-workaround.js" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script src="https://www.anime-sugoi.com/js/modernizr.js" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script src="https://www.anime-sugoi.com/js/autocomplete.js" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script src="https://www.anime-sugoi.com/js/lazyload.min.js" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="2d111c72b9eb7f769b59c701-text/javascript"></script> <script type="2d111c72b9eb7f769b59c701-text/javascript">
		$(document).ready(function(){
			$('.slider4').bxSlider({
				auto: true,
				slideWidth: 250,
				minSlides: 1,
				maxSlides: 5,
				moveSlides: 1,
				slideMargin: 10
			});
		});
	</script>
<style type="text/css">
		.img_lnwphp{
			width: 100%;
			height: 255px;
		}

		@media only screen
		and (max-width : 767px) {

			.img_lnwphp{
				width: 100%;
				height: auto;
			}
			.title_movie{
				width: 100%;
				height: 54px;
			}

		}
	</style>
</head>
<body style="background: #f5f5f5 url(https://www.anime-sugoi.com/upload/335357af810d85d0409c3f977744e18fo.jpg?v=6);background-repeat: repeat;background-attachment: fixed;background-position: center;">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar-header">

<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">หน้าแรก</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="http://gameofsun.pythonanywhere.com/">หน้าแรก</a>
</div>

<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li><a href="http://gameofsun.pythonanywhere.com">ติดต่อเรา</a></li>
</ul>
<form class="navbar-form navbar-right" action="https://www.anime-sugoi.com/index.php" role="search">
<div class="form-group">
<input name="search" type="text" id="show_arti_topic" class="form-control" placeholder="ค้นหาการ์ตูน" value="">
</div>
<button type="submit" class="btn btn-sm btn-success">ค้นหาการ์ตูน</button>
</form>
</div>
</div>
</div> <div class="container">
<div class="row">
</div>
</div><div class="container">
<div class="row">
<p class="center_lnwphp"></p>
<div class="col-lg-9">
<div class="panel panel-danger">
<div class="panel-heading">
<h3 class="panel-title">GameOfSun</h3>
</div>
<div class="panel-body">

    {% block title %}<h3>Register</h3>{% endblock %}
  <!-- Main Content -->
  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <div>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}

                <button style="background-color:#6202e5; color:white" class="btn btn-outline-info" type="submit">Sign Up</button>
            </form>
            <br>
            If you already have an account <a href="/Login" target="blank"><strong>Login</strong></a> instead.
            {% if messages %}
                {% for message in messages %}
                  <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
                {% endfor %}
            {% endif %}
                {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success'%}
                            <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength:2000});</script>
                        {% elif message.tags == 'info'%}
                            <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
                        {% elif message.tags == 'warning'%}
                            <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
                        {% elif message.tags == 'error'%}
                            <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength:10000});</script>
                    {% endif %}
                {% endfor %}
    {% endif %}
        </div></div></div></div>
    {% endblock %}

<div class="clearfix visible-xs"></div> </div>
</div>
</div>
</div>
</div>
</div>

<style>
.img-bt-ads {
    padding: 3px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    width: 350px;
    height: 70px;
}
</style>

<script src="https://www.anime-sugoi.com/js/main.js" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script src="https://www.anime-sugoi.com/js/bootstrap.min.js?v=6" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script src="https://www.anime-sugoi.com/js/bootstrap-datepicker1.js?v=6" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script src="https://www.anime-sugoi.com/js/jquery.bxslider/jquery.bxslider.min.js" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v3.3&appId=319573268524282&autoLogAppEvents=1" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143173261-1" type="2d111c72b9eb7f769b59c701-text/javascript"></script>
<script type="2d111c72b9eb7f769b59c701-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143173261-1');
</script>

<script type="2d111c72b9eb7f769b59c701-text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,3070988,4,0,0,0,00010000']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?3070988&101" alt="" border="0"></a></noscript>

<footer class="jumbotron footer">
<div class="container">
<div class="row">
<div class="col-md-9">
<span>&copy;                       2020 KiMoji-ii ดูการ์ตูน Anime ดูการ์ตูนออนไลน์ อนิเมะพากย์ไทยเมะ </span>
<a title="ขึ้นบนสุด" href="#0" class="cd-top">Top</a>
</div>
<div class="col-md-3">
</div>
</div>
</div>
</footer>

<script type="2d111c72b9eb7f769b59c701-text/javascript">
	function re_up_ () {
		location.reload();
	}
	var myLazyLoad = new LazyLoad({
    elements_selector: ".lazy"
});
	</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="2d111c72b9eb7f769b59c701-|49" defer=""></script></body>
</html>